body {
    /*
    background-image: url('stuff/BrownerShadeOfPale.jpg');
     */
    font-family: Calibri, sans-serif;
}

.back1 {
    background-image: url("stuff/back1.jpg");
}

.center {
    display: grid;
    place-items: center;
}

.right {
    display: grid;
    place-items: end;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.white {
    color: #FFFFFF;
}

.gray {
    color: #C0C0C0;
}

.darkGray {
    color: #808080;
}

.orange {
    color: #FF8040;
}

.yellow {
    color: #FFFF80;
}

.brightYellow {
    color: #FFFF00;
}

.link {
    text-decoration-color: blue;
}

.inline {
    display: inline;
}

.small {
    font-size: x-small;
}

.lessSmall {
    font-size: small;
}

/* Old font size 5 */
.big {
    font-size: x-large;
}

.borderSpaceTen {
    border-spacing: 10px;
}

.borderSpaceTwenty {
    border-spacing: 20px;
}

.cellPaddingThree {
    padding: 3px;
}

.cellPaddingFive {
    padding: 5px;
}

.cellPaddingTen {
    padding: 10px;
}

.thinOuterBorder {
    border: solid grey 1px;
    border-bottom: solid #333333 1px;
    border-right: solid #333333 1px;
}

.outerBorder {
    border: solid grey 2px;
    border-bottom: solid #333333 2px;
    border-right: solid #333333 2px;
}

.thickOuterBorder {
    border: solid grey 5px;
    border-bottom: solid #333333 5px;
    border-right: solid #333333 5px;
    border-spacing: 10px;
}

.innerBorder {
    border: solid grey 1px;
    border-top: solid #333333 1px;
    border-left: solid #333333 1px;
}

.top {
    vertical-align:top;
}

.bottom {
    vertical-align: bottom;
}