name: Deploy to Portainer

on:
  push:
    branches:
      - main

jobs:
  build-and-push-image:
    name: Build and Push Docker Image to GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Docker Login (GitHub Container Registry)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: docker build -t ghcr.io/lyttledevelopment/the-doors-quarterly:main .

      - name: Push Docker Image
        run: docker push ghcr.io/lyttledevelopment/the-doors-quarterly:main
